*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    color: #cbcbcb;
    background: #15181c;
    background-size: auto auto;
    margin: 1em;
    animation: pulse 50s infinite;
}

@keyframes pulse {
    0% {
    background: #042e3e;
    }
    25% {
    background: #373d40;
    }
    50% {
    background: #055a7b;
    }
    75% {
    background: #373d40;
    }
    100% {
    background: #042e3e;
    }
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 12%;
    height: auto;
    margin: 1.5em;
    padding: .2em;
}

.nav {
    display: flex;
    justify-content: end;
    align-items: center;
}

.navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    margin: 0 20%;
}

.navigation a {
    color: #cbcbcb;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

.navigation a:hover {
    transform: scale(1.5) !important;
    color: #ffffff;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    padding-left: 5%;
    padding-right: 5%;
}

#carlos {
    animation-name: fade;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes fade {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}

#carlos:hover {
    transform: scale(1.5) !important;
    color: #ffffff;
}

.header {
    flex: 1;
}

h1 {
    font-size: 3.5em;
    font-weight: 700;
    text-align: left;
    line-height: 1.3em;
    letter-spacing: -0.04em;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2.5em;
    font-weight: 400;
    text-align: center;
    line-height: 1.3em;
    letter-spacing: -0.04em;
    margin-top: 10%;
    padding: 0;
}

#me {
    width: 40%;
    height: auto;
    margin-left: 22%;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 7%;
    padding-right: 7%;
}

p {
    font-size: 2em;
    font-weight: 400;
    line-height: 1.3em;
    letter-spacing: -0.08em;
    text-align: left;
    margin: 0;
    padding-top: 30px;
}

#a {
    display: inline-block;
    transition: transform .2s !important;
    width:30px;
    height:30px;
}

#a:hover {
    transform: scale(2) !important;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10%;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.container h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.container form {
    display: grid;
    gap: 5px;
}

.container label {
    display: block;
}

.container input,
.container textarea,
.container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.container button[type="submit"] {
    padding: 8px 15px;
    background-color: #055a7b;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.container button[type="submit"]:hover {
    background-color: #5b5b5b;
}

.container input:focus,
.container textarea:focus,
.container select:focus {
    outline: none;
    border-color: #055a7b;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.container a {
    font-family: 'Roboto Mono', monospace;
    font-size: .6em;
    color: #055a7b;
}  
.container a:hover {
    color: #5b5b5b;
}